{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
<h2>Sun-kissed vows on Kerala's sandy shores of India</h2>
<div >
            <img src="{% static 'img/beach wedding.jpg' %} " height="700px" width="70%">
        </div>
    <br><br>
    <div class="row">
    <div class="col-sm-3" >
        <div class="card" style="width: 20rem; height:320px;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-dark new-font">Catering:</h6>
                <p class="card-text text-dark">Kerala is known for its delicious cuisine, and no beach wedding in Kerala is complete without a feast that showcases the state’s culinary delights. Melodia’s catering services in Kerala specialize in local cuisine and can provide a range of menu options, including vegetarian and non-vegetarian dishes.
                    From traditional Kerala dishes to global cuisine, there’s something for every palate.
                    </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3" >
        <div class="card" style="width: 20rem; height:320px;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-dark new-font">Identifying the venue:</h6>
                <p class="card-text text-dark">As mentioned before, we are comprehensive planners who take care of every aspect of your event. Kerala is a beautiful region full of panoramic views and a beach with blue waters. At your request, we can also book one of the wonderful beach
                    resorts and host a wedding right there on the soft sand, making it a memorable day.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3" >
        <div class="card" style="width: 20rem; height:320px;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-dark new-font">Photos and videos:</h6>
                <p class="card-text text-dark">One of the most important aspects of a wedding is capturing these precious moments on a platform so that you can reminisce and be happy. Melodia conducts professional video and photo shoots to capture the romance of your special day
                    and prepare a creative presentation as a ‘forever memory, immortalising every moment.
                    </p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-6">
        <div class="card" style="width: 35rem; height:320px;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-dark new-font"><b>Planning the wedding:</b></h6>
                <p class="card-text text-dark"> A Indian wedding is an elaborate affair involving a number of elements, including people, logistics, and events. It can be extremely stressful without the help of a professional wedding planner. Relax and enjoy your big day as you leave this complex task to Melodia. We are leading wedding planners in Kerala who specialise in all kinds of arrangements. Whether it’s a traditional affair or a contemporary one, we will identify the right kind of venue on the beach and arrange
                    for all decorations, photography, catering, and any other function you are looking for.
                    </p>
            </div>
        </div>
    </div>
    <div class=" col-sm-2">
        <div class="card" style="width: 35rem; height:320px;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-dark new-font">Decorations:</h6>
                <p class="card-text text-dark">A beach wedding Planners in Kerala call for unique and creative decorations that complement the natural beauty of the surroundings. From floral arrangements to lighting and other decorative elements, there are several decoration services available in Kerala that specialize in beach weddings. These services can help
                    create a stunning and romantic atmosphere that sets the tone for your special day.</p>
            </div>
        </div>
    </div>
</div>
        <br><br>
    <video width="100%" height="700px" controls>
        <source src="{% static 'video/beach_video.mp4' %}" type="video/mp4">
    </video>
    <br><br><br>
    <div class="container text-dark">
    <h3>Why Kerala is the best place for a beach wedding in India</h3>
    <p style="text-align:justify">Kerala, a southern state in India, is a completely picturesque destination. It is adorned with lush greenery and coconut trees, making it an idyllic event destination for your dream wedding events. The entire state is a lush canvas of green landscapes, creating an enchanting atmosphere in all areas of the state. The Kerala state government is actively promoting destination weddings, with Kerala Public Works Department and Tourism Department Minister Muhammed Riyas recently encouraging tourism in this direction.

<br>Benefiting from a tropical climate throughout the year, Kerala is an ideal choice for wedding events, even during the monsoon season. With a vast coastal area, Kerala offers an abundance of venues for your special day. The state’s higher education level and literacy rates ensure local expertise, streamlining the event planning process.

<br>Geographically diverse, Kerala transitions seamlessly from captivating coastlines to elevated hill stations like Munnar and Wayanad. The renowned backwaters, a unique Kerala specialty, provide a captivating backdrop for various wedding ceremonies.

<br>Immerse yourself in Kerala’s rich cultural traditions with local art forms like Kathakali, Mohiniyattam, oppana dance, and Kerala nadanam. Kathakali and Kalaripayattu add a distinctive charm to your wedding celebrations. Well-connected airports within a 30-kilometer radius of coastal areas ensure convenient accessibility for you and your guests.

<br>Leverage Kerala’s holistic offerings, including Ayurvedic treatments and spa facilities, for pre- or post-wedding relaxation. Melodia Events, our event management company, specializes in destination weddings, boasting a successful track record of over 250 beach weddings for clients from North India and beyond.

<br>While both Goa and Kerala are renowned for beach weddings in India, Kerala stands out with its stunning landscapes and cost-effective options. Choose Kerala for your dream beach wedding in India, and contact Melodia Events for a seamless, affordable, and unforgettable experience. For more information on Kerala beach weddings, feel free to reach out anytime. Your perfect wedding in Kerala awaits, where every detail is meticulously crafted for you, ensuring a memorable experience without breaking the bank.

    <h3>Conclusion: A Serene Affair by Melodia Events</h3>
<p style="text-align:justify">In the picturesque realm of Kerala’s sandy shores, Melodia Events orchestrates dream beach weddings, ensuring every detail is seamlessly handled. From venue selection and creative decorations to delectable catering and captivating photo shoots, Melodia transforms every ceremony into an unforgettable, stress-free celebration.

<br>As Kerala emerges as an ideal destination for beach weddings, Melodia Events stands out with its expertise, offering a perfect blend of stunning landscapes, rich cultural traditions, and cost-effective solutions. Entrust your dream celebration to Melodia Events, where the beauty of Kerala becomes the canvas for your perfect wedding, promising cherished memories without compromising your budget.</p>

</p></div>

    </center>
{% endblock %}