{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .new-font
    {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
</style>
<br><br>
<div class="container">
    <div class="row" style="background-color:#f8f9f9;">
        <div class="col-8 text-dark">
            <h3>Romantic escape amidst Kerala's lush greenery</h3>
            <p>Destination weddings in Kerala are becoming increasingly popular these days, and for good reason! Imagine
                exchanging your vows with your loved one in a breathtakingly beautiful location, surrounded by the
                natural beauty of one of the world’s most stunning destinations. From vast green landscapes for resort
                weddings to the beautiful backwaters and houseboat weddings of Kerala, the possibilities are endless
                when it comes to planning a destination wedding.
            <br>However, planning a destination wedding in Kerala can be overwhelming, especially when it comes to
                navigating unfamiliar territory, coordinating with vendors from afar, and dealing with language barriers
                and cultural differences. That’s where Melodia® Event Management’s destination wedding services come in!
                </br></p></div>
            <div class="col-4" >
                <img src="{% static 'img/event10.jpg' %} " height="400px" width="100%">
            </div>
        </div>
    </div>
    <br><br>
<div class="container">
    <div  class="row" style="background-color:#fdf2e9;">
        <div class="col-4">
            <img src="{% static 'img/event11.jpg' %} " height="350px" width="100%">
        </div>
        <div class="col-8 text-dark">
            <h2>No. 1 Destination Wedding planner In Kerala</h2>
            <p><b>We offer comprehensive professional services to make your dream wedding a reality. From selecting the
                perfect venue to coordinating all the little details, our services are designed to help you plan and
                execute your wedding with ease and efficiency so that you can focus on enjoying your special day.

            <br><br>One of the most significant advantages of our destination wedding services is the personalised
                attention you receive from experienced professionals with extensive knowledge of the destination. You
                get insider tips and assistance with all the legal and documentation requirements necessary for getting
                married in God’s Own country.

            <br><br>In addition to logistical support, we also offer creative ideas and inspiration to help you design a
                wedding that is uniquely yours. Whether you want a minimalist ceremony or a luxurious wedding resort
                celebration, we can help you bring your vision to life.</b></p>
        </div></div>
    </div>
<br><br>

<h2 class="new-font"><center>Why Choose Us For Best Destination Wedding In Kerala</center></h2>
    <br>

    <div class="container">
        <div class="row" style="background-color:#f8f9f9;">
            <div class="col-8 text-dark">

                <p>Our professional destination wedding in Kerala are designed to help couples plan and execute their wedding at
                    a location away from their home. These can include:Our professional destination wedding team has commonly
                    worked in Kochi city in recent years. We believe that Kochi is the more preferred choice for people planning
                    a destination wedding compared to other cities like Trivandrum, Calicut, and Thrissur. Destination wedding
                    in Kochi are currently more popular.Melodia Event Management provides a stress-free, enjoyable and memorable
                    experience that allows you to create a wedding that is as unique and unforgettable as your love story. So
                    why not take the plunge and embark on a romantic adventure you’ll cherish forever?</p>
            </div>
            <div class="col-4" >
                 <img src="{% static 'img/gallery2.jpg' %} " height="300px" width="100%">
            </div>
        </div>
    <br><br>

<div class="row">
    <div class="col-sm-3" >
        <div class="card" style="width: 20rem; height:175px;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-dark new-font">Venue selection:</h6>
                <p class="card-text text-dark">Research and identify suitable wedding venues at the destination based on
                    the couple’s preferences and budget.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3" >
        <div class="card" style="width: 20rem; height:175px;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-dark new-font">Travel and accommodation arrangements:</h6>
                <p class="card-text text-dark">Includes organising flights, transportation, and accommodation for the
                    couple, their families, and guests.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3" >
        <div class="card" style="width: 30rem; height:175px;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-dark new-font">Event planning and coordination:</h6>
                <p class="card-text text-dark">Managing all aspects of the wedding, from décor and entertainment to
                    catering and photography, ensures that everything runs smoothly.</p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-6">
        <div class="card" style="width: 35rem; height:175px;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-dark new-font"><b>Legal and documentation requirements:</b></h6>
                <p class="card-text text-dark"> Depending on the destination, couples may need to obtain specific legal
                    documents, such as marriage licences or permits, and navigate any language or cultural differences
                    that arise.</p>
            </div>
        </div>
    </div>
    <div class=" col-sm-2">
        <div class="card" style="width: 35rem; height:175px;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-dark new-font">On-site support:</h6>
                <p class="card-text text-dark">Our event management team of destination wedding in Kerala may provide on-site support to ensure everything is set up and executed as planned and handle any unexpected issues or emergencies.</p>
            </div>
        </div>
    </div>
</div>
        <br><br>



{% endblock %}