{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mb-5">
    <center><h1>Photos Gallery of Melodia</h1></center>
    <p class="text-dark">Melodia® Events always prioritizes the satisfaction of our clients in Kerala. We are particularly delighted to work with the Malayalee community, bringing joy from the heart. Here are some photos of our recent work in Kerala that we would like to share with you.<br><br>

Please note that we have only showcased a few photos here due to our company policy limitations. However, if you wish to explore our extensive collection, which includes our latest designs, decorations, wedding dance videos, other entertainment, recent wedding photos, and new trends in decorations and other event aspects, kindly contact us or send us a message on WhatsApp or Gmail. We have a dedicated team available to promptly respond to your inquiries, provide additional photos, and address any clarifications you may have. So, don’t hesitate; send us a message now!</p>
 <img src="{% static 'img/gallery1.jpeg' %} " height="400px" width="30%">
 <img src="{% static 'img/gallery-4.jpg' %}" height="400px" width="25%">
 <img src="{% static 'img/gallery-5.jpg' %}" height="400px" width="35%">
 <img src="{% static 'img/gallery-8.jpg' %}" height="300px" width="25%">
 <img src="{% static 'img/footer-bg.jpg' %}" height="300px" width="15%">
 <img src="{% static 'img/gallery2.jpg' %}" height="300px" width="25%">
 <img src="{% static 'img/gallery6.jpeg' %}" height="300px" width="25%">
 <img src="{% static 'img/gallery7.jpeg' %}" height="300px" width="30%">
 <img src="{% static 'img/gallery8.jpg' %}" height="300px" width="30%">
 <img src="{% static 'img/gallery9.jpg' %}" height="300px" width="30%">
 <img src="{% static 'img/gallery10.jpg' %}" height="300px" width="30%">
 <img src="{% static 'img/gallery11.jpg' %}" height="300px" width="30%">
 <img src="{% static 'img/gallery12.jpg' %}" height="300px" width="30%">
 <img src="{% static 'img/gallery13.jpg' %}" height="300px" width="30%">
 <img src="{% static 'img/gallery14.jpg' %}" height="300px" width="30%">
 <img src="{% static 'img/gallery16.jpeg' %}" height="300px" width="30%">
</div>
{% endblock %}
