{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .new-font1
    {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
</style>


<br><br>
<div class="container">
    <div class="row" style="background-color:#f8f9f9;">
        <div class="col-8 text-dark">
            <h3 class="new-font1">Enchanting Weddings Come to Life with Melodia Events: Your Premier Wedding Planners in Kerala</h3>
        <p>Melodia’s Wedding planners Kochi and Thrissur in Kerala provide a wide range of services designed to help couples create the perfect wedding day. We start by getting to know the couple, listening to their wishes and ideas, and then working our magic to turn those dreams into reality.<br>

Melodia’s Wedding event planners and managers services are professional services provided to help couples plan, organize, and execute their wedding day. We work closely with couples to understand their vision, preferences, and budget to create a personalized plan for the wedding day.</p></div>
        <div class="col-4" >
             <img src="{% static 'img/event8.jpg' %} " height="400px" width="100%">
        </div>
    </div>
    <br><br>
    <div  class="row" style="background-color:#fdf2e9;">
        <div class="col-4">
            <img src="{% static 'img/event9.jpg' %} " height="350px" width="100%">

        </div>
        <div class="col-8 text-dark">
            <p><b>Think of wedding planners in Kerala as superheroes, swooping in to save the day and take care of everything from venue selection to vendor management, budget management to design and décor, and timeline management to coordination on the big day. We ensure every detail is accounted for and every moment perfectly orchestrated.<br><br><br>

Whether you’re dreaming of a grand ballroom wedding, a rustic barn wedding, or something in between, Melodia‘s wedding planners in Kerala, is here to make it happen. We work tirelessly behind the scenes to create a wedding day that is unique only to you, a day that you and your guests will remember for years to come.<br><br><br>

                So if you’re feeling overwhelmed by the endless details and decisions that go into planning a wedding, call us – the fairy godmothers and superheroes of weddings – to make your dream wedding a reality!</b></p>
        </div>
    </div>
<br><br>
    <div class="row" style="background-color:#ebf5fb">
        <div class="col-12 text-dark">
            <p>Mayjohn P J, the owner of Melodia Event Management Company, strives to create a truly memorable experience for every one on their special day. Mr. P J endeavors to spread happiness throughout Southern India on wedding days. <br><br>

Nowadays, entertainment has become a crucial aspect of Southern Indian weddings, especially in Kerala. Various forms of entertainment such as live music bands, Punjabi dances, flamenco dances, Sufi dances, DJs, live water drummers, and traditional dances like oppana, margamkali, mohiniyattom and kathakali are incorporated into every part of the wedding events. This entertainment is embraced by all communities, including Hindus, Christians, and Muslims. Even the Kerala Muslim community, including the Orthodox Muslim community, incorporates entertainment in their unique way.

<br><br>Here at Melodia Event management company’s Owner Mr. Mayjohn P J, also known as Mayjohn Pindiyan, takes great pride in recalling a memorable wedding day organized by Melodia Event Management Company. The esteemed American newspaper, The New York Times, covered all aspects of the wedding event ceremony event days, including the full wedding event, parties, and functions. This exceptional event took place in the aftermath of the COVID-19 pandemic.

<br><br>This particular event was for Dr. Pfizer, a client of Melodia Events, who is associated with the World Health Organization (WHO). Dr. Pfizer’s daughter, Dr. Sheha Pfizer’s wedding planning and ceremony in Kerala arranged by Melodia Events, proving that even during a pandemic, Melodia Events strives to provide exceptional services for their  clint satisfactions. This wedding strictly adhered to the COVID-19 protocols and legal regulations set by the Indian government. Dr. Pfizer received special care and the full support of Melodia Event Management’s security teams.

<br><br>As a wedding event management agency, Melodia in Kerala, Southern India, we provide a range of services:</p>
        </div>

    </div><br><br>
    <div class="row">
        <div class="col-6">
            <img src="{% static 'img/weddingplanner.jpg' %} " height="400px" width="100%">
        </div>
        <div class="col-6">
            <img src="{% static 'img/event7.jpg' %} " height="400px" width="100%">
        </div>
        <h3>Design and décor</h3><p style="color:black">At every wedding, design, and décor are eye-catching elements that breathe life into any bridal occasion. Most wedding planners in Kerala don’t conceptualise or coordinate all parts of the ceremony. But we are different. As one of the top wedding planning companies in Thrissur, we execute a wedding theme fully, with floral arrangements, lighting, props, and other elements according to your requirements and creative vision. In our capacity as wedding planners, we expand our scope to provide décor services as well and engage in extensive brainstorming before demonstrating how a particular idea will meet their expectations. We also perform cost calculations and settle for an appropriate theme from all angles.</p>
        <br><h3>Choosing a venue and a destination</h3><p style="color:black">Finding the ideal location for your wedding can be difficult and exhausting. Most destination wedding planners in Kerala, don’t do them as well as they should. There are several restrictions that apply to this activity, including the time of the year, overall spending limits, and the availability of a venue. With these facts in mind, as the best destination wedding planners in Kerala, Melodia Event Management Company coordinates with you to identify your dream location. We can make magic anyplace with reasonable destination wedding packages, including beaches, backwaters, or the highlands.</p>
        <br><h3>Food</h3><p style="color:black">Food is common and yet unique. We enjoy savouring various cuisines from across the world and strive to create menus and meal plans that appear beautiful and surprise guests. Therefore, infuse additional individualised and thoughtful components to make eating extremely interesting. Everything appears to fall into place when the cuisine is tasty and presented well. Food can heavily influence wedding experiences; therefore, we collaborate with Kerala’s best wedding caterer terms to bring special treats, especially to satiate your guests’ appetites. </p>
        <br><h3>Entertainment</h3><p style="color:black">A wedding becomes exciting and beautiful when all your favourite people are invited. Your guests are the life of the ceremony, so we ensure they are thoroughly pleased and entertained through fun activities planned for the evening. We could also bring a celebrity performer to dazzle the audience. Or we could simply have games to offer every age group a good time. With our wedding and entertainment services, we can bring any of these concepts to life in a way that will satisfy your guests fully. Melodia’s wedding Planners in Kerala believes that games and activities complete any wedding, especially during the reception.</p>
        <br><h3>Contact and Communication</h3><p style="color:black">Seamless communication is one of the most essential components of a wedding. All it takes is a little creativity to draft and design wedding invitations and ensure every detail is conveyed efficiently. Everything is specially tailored and produced in accordance between? We are the leading event management company and wedding planners in Kerala, is here to make it happen.

             <br>with the overall theme, including the wedding logo, e-invites, photo backdrops or kits given during the guests’ departure. We also create a wedding app or website to make their journey with you extremely comfortable. </p>
        <br><h3>Logistics</h3><p style="color:black">One of the most exhausting tasks at a wedding is managing its logistics. We offer specialised logistics services while monitoring and scheduling special pick-ups for guests, including drop-offs and internal transits. Besides, we also add interesting signs, snacks, and other greeting gestures to add flair to the overall atmosphere. Moreover, assistance with daily transportation for different ceremonies and other needs is provided to guests attending the wedding. We even pay attention to the most minute detail that matters a lot to family members.

        <br>Melodia’s wedding event management team and wedding planners in Kerala provide a valuable service to couples who want to have a stress-free and beautiful wedding day. We help you by allowing you to relax and enjoy your special day with your loved ones. We aim to reduce the stress and anxiety that often comes with planning a wedding and create a beautiful and memorable experience for the couple and their guests.

Are you dreaming of a grand ballroom wedding, a rustic barn wedding, or something in</p>

<video width="320" height="500" controls>
  <source src="{% static 'video/video.mp4' %}" type="video/mp4">
</video>


    <br>
        <div class="row mt-5 mt-5">
        {% for i in item %}

        <div class="col-sm-3">
             <div class="card border border-3 border-primary mt-2" style="width: 18rem ; height:400px;">
                <img src="{{i.image.url}}" style="height:200px;width:100%"  alt="...">
                   <div class="card-body">
                        <h4 class="card-text">{{i.name}}</h4>
                       <h6>Advance Amount:{{i.advance_amt}}</h6>
                       <div>
                        <center><button><a href="{% url 'event_bloom:add_to_event' i.id %}"  class="btn-3 bg-light">Add To Event</a></button></center>
                       </div>
                           <a href="{% url 'event_bloom:servicedetail' i.id %}" class="btn btn-primary">Learn More>></a><br>
                   </div>
             </div>

        </div>
            {% endfor %}
</div>

</div>
{% endblock %}
